{% extends 'base.html' %}


{% block content %}

<h1>New Post by {{ request.user.username }} </h1>

{% comment %} <h2> "{{object.username}}" </h2> {% endcomment %}
{% comment %} <h1 class="username">{{ request.user.id }}</h1> {% endcomment %}
{% comment %} <h1 class="username">{{ request.user.username }}</h1> {% endcomment %}

<form action="" method="post" enctype="multipart/form-data">
    {% comment %} <input type="hidden" name="author_id" value="{{object.username}}" /> {% endcomment %}

    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
</form>




{% endblock content%}